body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#container {
  flex: 1 1 auto;
  height: 95%;
}
#buttons-container {
  display: flex;
  justify-content: space-around;
  height: 5%;
}
button {
  /* flex: 1; */
  margin: 5px;
}
#file-name {
  text-align: center;
  margin-top: 5px;
}
